.azchat-innerlist {
	position: relative;
}
.azchat-filler {
	height: 100%;
	width: 100%;
}
.azchat-flexed {
	flex: 1;
}
.azchat-virtualContainer {
	overflow-x: hidden;
	overflow-y: scroll; 
	width: 100%;
	height: 100%;
}
.azchat-inner-container { 
	width: 100%; 
}

.azchat-inner-container ol {
	padding: 0;
	margin: 0;
	list-style: none; 
}

.azchat-item {
	min-height: 30px;
}
.azchat-wrapper {
	background-color: transparent;
	height: calc(var(--WRAPPER_HEIGHT) * 1px);
}
.gone {
	display: none;
}
